@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
}
.container{
    position: relative;
    height: 50px;
    width: 50px;
    transition: width 0.4s ease;
}
.show .container{
    width: 250px;
}
input{
    position: absolute;
    height: 100%;
    width: 50px;
    border: none;
    padding: 13px;
    font-size: 20px;
    background-color: white;
    transition:width 0.4s ease;
}
.show input{
    width: 200px;
}
input::placeholder{
    font-size: 20px;
    font-weight: bold;
    opacity: 0.7;
}
input:focus{
    outline: none;
}
button{
    position: absolute;
    height: 50px;
    width: 50px;
    right: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 30px;
}